@charset "UTF-8";

.gdm-wrapper {
  display: flex;
}

.gdm-nav,
.gdm-view {
  height: 100vh;
}

.gdm-nav {
  flex: 1 0 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.gdm-view {
  flex: 2 1 66%;
}

.tekstblock{
  margin-bottom: 20px;
}

.smartwatch{
  width: 250px;
}

.ruimte_tekst{
  margin-top: 50px;
}